.board {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
}

.board td {
  display: inline-block;
  width: 200px;
  height: 210px;
  border: 5px solid #39CCCC;
  border-radius: 15px;
  background-color: #eaeaea;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

@media (min-width: 1280px) {
  .board td {
    width: 4rem;
    height: 150px;
  }
}

@media (hover: hover) {
  .board td:hover {
    background-color: #3d4250;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  }
}

@keyframes play {
  100% { background-position: -2600px; }
}

.board .x-mark {
  background: url('/images/sprite-x.png') left center;
  animation: play 0.3s steps(13) 0s 1 normal forwards;
}

.board .o-mark {
  background: url('/images/sprite-o.png') left center;
  animation: play 0.3s steps(13) 0s 1 normal forwards;
}

.board tr.top td {
  border-top: none;
}

.board tr.bottom td {
  border-bottom: none;
}

.board td.left {
  border-left: none;
}

.board td.right {
  border-right: none;
}
