.btn {
  padding: 0 1rem;
}

.btn-primary {
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #3D4256;
}

.btn-primary:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}
