header {
  width: 100%;
  background: #3D4257;
  margin-bottom: 2rem;
}

header .header-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 8rem;
}

header .header-title {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
  word-spacing: -3px;
  margin-bottom: 0rem;
}

header .header-title span:first-child {
  color: #dc685a;
}

header .header-title span:nth-child(2) {
  color: #ecaf4f;
}

header .header-title span:nth-child(3) {
  color: #39CCCC;
}

header .header-title span:nth-child(4) {
  color: #dc685a;
}

header .user-info .close {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
}

@media (hover: hover) {
  header .user-info .close:hover {
    color: #eaeaea;
    font-size: 2.2rem;
  }
}
