<%= live_render(@conn, GameUiWeb.GameListLive) %>

<%= form_for @conn, Routes.game_path(@conn, :create), [as: :game, class: "form"], fn f -> %>
  <div class="field">
    <div class="field__input">
      <%= text_input f, :name, placeholder: "Type a new name to create a game", autofocus: true, class: "form-control" %>
    </div>

    <div class="field__button">
      <%= submit "Create", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

