<div class="form">
  <%= form_for @conn, game_path(@conn, :create), [as: :game], fn f -> %>
  <div class="input-group">
    <%= text_input f, :name, placeholder: "Enter a game name", autofocus: true, class: "form-control" %>

    <span class="input-group-btn">
      <%= submit "Play", class: "btn btn-primary" %>
    </span>
  </div>
  <% end %>
</div>
