<div class="form">
  <%= form_for @conn, game_path(@conn, :create), [as: :game], fn f -> %>
  <div class="field">
    <%= text_input f, :name, placeholder: "Enter a game name", autofocus: true, class: "field__input" %>

    <%= submit "Play", class: "btn btn-primary field__button" %>
  </div>
  <% end %>
</div>
