<div class="form">
  <%= form_for @conn, player_path(@conn, :create), [as: :player], fn f -> %>
    <div class="input-group">
      <%= text_input f, :name, placeholder: "Enter your name", autofocus: true, class: "form-control" %>

      <span class="input-group-btn">
        <%= submit "Enter", class: "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>

