<div class="form">
  <%= form_for @conn, player_path(@conn, :create), [as: :player], fn f -> %>
    <div class="field">
      <%= text_input f, :name, placeholder: "Enter your name", autofocus: true, class: "field__input" %>

      <%= submit "Enter", class: "btn btn-primary field__button" %>
    </div>
  <% end %>
</div>

